{% extends 'app/base.html' %}

{% block content %}
        {% if key3 %}
        <!-- Shop Page Section Start Here -->
		<div class="shop-page single padding-tb bg-fa">
            <div class="container">
                <div class="section-wrapper">
                    <div class="shop-title d-flex flex-wrap justify-content-between">
                        <p>Showing 01 - 12 of 139 Results</p>
                        <div class="product-view-mode">
                            <a class="active" data-target="grid"><i class="icofont-ghost"></i></a>
                            <a data-target="list"><i class="icofont-listing-box"></i></a>
                        </div>
                    </div>
                    {% for i in key3 %}
                    <div class="shop-product-wrap grid row">
                        <div class="col-xl-3 col-md-6 col-12">
                            <div class="product-item">
                                <div class="product-thumb">
                                    <img src="{{MEDIA_URL}}{{i.Image.url}}" alt="food-product">
                                    <span class="price">{{i.Price}}</span>
                                    <div class="product-action-link">
                                        <a href="{{MEDIA_URL}}{{i.Image.url}}" data-rel="lightcase"><i class="icofont-eye"></i></a>
                                        <a href="#"><i class="icofont-heart-alt"></i></a>
                                        <a href="#"><i class="icofont-cart-alt"></i></a>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <div class="product-title">
                                        <span class="cat-name">Catagory Name</span>
                                        <h6><a href="{% url 'productdes' pk=i.id %}">{{i.Productname}}</a></h6>
                                        <div class="rating">
                                            <i class="icofont-star"></i>
                                            <i class="icofont-star"></i>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-list-item">
                                <div class="product-thumb">
                                    <img src="{{MEDIA_URL}}{{i.Image.url}}" alt="food-product">
                                    <div class="product-action-link">
                                        <a href="{{MEDIA_URL}}{{i.Image.url}}" data-rel="lightcase"><i class="icofont-eye"></i></a>
                                        <a href="#"><i class="icofont-heart-alt"></i></a>
                                        <a href="#"><i class="icofont-cart-alt"></i></a>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <div class="product-title">
                                        <span class="cat-name">Catagory Name</span>
                                        <h6><a href="#">{{i.Productname}}</a></h6>
                                        <span class="price">{{i.Price}}</span>
                                        <div class="rating">
                                            <i class="icofont-star"></i>
                                            <i class="icofont-star"></i>
                                            <i class="icofont-star"></i>
                                            <i class="icofont-star"></i>
                                            <i class="icofont-star"></i>
                                        </div>
                                        <p>Assertively fabricate process-centric collaboration and idea-sharing whereas focused results. Energistically mesh clicks-and-mortar architectures with market-driven niche markets. Monotonectally redefine integrated technology for diverse intellectual capital. Energistically administrate principle-centered opportunities without customer.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    {% endfor %}
                    <div class="paginations">
                        <ul class="d-flex flex-wrap justify-content-center">
                            <li>
                                <a href="#">1</a>
                            </li>
                            <li class="d-none d-sm-block">
                                <a href="#">2</a>
                            </li>
                            <li class="d-none d-sm-block">
                                <a href="#">3</a>
                            </li>
                            <li>
                                <a class="dot">...</a>
                            </li>
                            <li class="d-none d-sm-block">
                                <a href="#">9</a>
                            </li>
                            <li class="d-none d-sm-block">
                                <a href="#">10</a>
                            </li>
                            <li>
                                <a href="#">11</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <!-- Shop Page Section Ending Here -->

        <!-- link area start -->
        <div class="news_link">
            <div class="container">
                <div class="order-content">
                    <div class="content-logo">
                        <a href="#">
                            <img src="assets/images/logo/02.png" alt="logo">
                            <p>Good Food For Good Helts</p>
                        </a>
                    </div>
                    <div class="content-link">
                        <ul>
                            <li>
                                <h5>Work with best resturant theme</h5>
                            </li>
                            <li>
                                <a href="#" class="food-btn style-2">
                                    <span>Order Now</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- link area ends -->

        <!-- footer area start -->
        <footer class="padding-tb" style="background-image: url(assets/css/bg-image/footer-bg.jpg);">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-4 col-lg-4 col-md-6 col-12">
                        <div class="contant-info">
                            <h5>Contact info</h5>
                            <ul class="info">
                                <li>
                                    <i class="fas fa-home"></i>
                                    <span>Suite 02 Level Tropical Center</span>
                                </li>
                                <li>
                                    <i class="fas fa-phone"></i>
                                    <span>+880 1234 567890, 025984712</span>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fas fa-globe-asia"></i>
                                        <span>www.foodbuzz@gmail,com</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fas fa-headphones"></i>
                                        <span>support@codexcoder.com</span>
                                    </a>
                                </li>
    
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-12">
                        <div class="opening-time">
                            <h5>Opening Hours</h5>
                            <ul>
                                <li>
                                    <p><i class="far fa-clock"></i>Saterday</p>
                                    <span>06:00 am - 08:00 pm</span>
                                </li>
                                <li>
                                    <p><i class="far fa-clock"></i>Sunday</p>
                                    <span>09:00 am - 02:00 pm</span>
                                </li>
                                <li>
                                    <p><i class="far fa-clock"></i>Monday</p>
                                    <span>07:00 am - 09:00 pm</span>
                                </li>
                                <li>
                                    <p><i class="far fa-clock"></i>Tuesday</p>
                                    <span>02:00 am - 06:00 pm</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-12">
                        <div class="news_letter">
                            <h5>Subscribe Newsletter</h5>
                            <p>
                                Sign Up For Our Latest News & Articles. 
                                We Wont Give You Spam Mails.
                            </p>
                            <div class="contact-search">
                                <form class="searchForm" method="get" action="http://labartisan.net/demo/foodbuzz/0">              
                                    <input class="searchTerm"  placeholder="Your Email" autocomplete="off">
                                    <input type="submit" class="searchBtn" value="Subscribe!"/> 
                                </form> 
                            </div>
                            <ul class="follow_us">
                                <li>
                                    <p>Follow Us : </p>
                                </li>
                                <li>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fas fa-wifi"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fas fa-globe"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fab fa-behance"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer area ends -->

        <!-- footer menu start -->
        <div class="fotter-header">
            <header>
                <div class="footer-bg">
                    <div class="container">
                        <div class="header-item">
                            <div class="header-logo">
                                <p>&copy; 2020<a href="index-2.html">FoodBuzz</a>Designed by<a href="https://themeforest.net/user/labartisan">Labartisan</a></p>
                            </div>
                            <div class="header-menu d-none d-lg-block">
                                <nav class="primary-menu">
                                    <div class="main-menu-area">
                                        <ul class="main-menu">
                                            <li><a href="#">Home</a></li>
                                            <li><a href="#">Food Menu</a></li>
                                            <li><a href="#">Pages</a></li>
                                            <li><a href="#">Blog</a></li>
                                            <li><a href="#">Shop</a></li>
                                            <li><a href="#">Elements</a></li>
                                            <li><a href="#">Contact</a></li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- <div class="footer-bottom"></div> -->
        </div>
        <!-- footer menu ends -->

        
{% endblock %}
        
